
html, body {
  height: 100%;
  width: 100%;
}

body{
    background-color: #1c1d40;
    font-family: Open -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
  }

h1, h3, h4, h2 {
 color: #F0EAD6;
}
.dp-menu{
  list-style-type: none;
  padding: 0;
}
dp-menu ul{
  list-style-type: none;
  padding: 0;
  background-color: #1c1d40;
}
.dp-menu ul li{
  display: inline;
  position: relative;
}
.dp-menu ul li a{
  text-decoration: none;
  padding: 20px;
  color: #F0EAD6;
  display: inline-block;
  transition: background .3s;
}
.dp-menu ul li a:hover{
  text-decoration: none;
  background-color: rgb(24, 139, 233)
}
/*sub menu*/
.dp-menu ul ul{
  display: none;
  position: absolute;
  
}
.dp-menu ul li:hover ul{
  display: block;
}
.dp-menu ul ul{
  width: 150px;
}
.dp-menu ul ul li a{
  display: block;
}